:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#canvas-container{
  overflow-x: scroll;
}

#clustername-buttons-container{
  display: flex;
  margin: 3%;
}

#clustername-buttons-container > div{
  background-color: whitesmoke;
  border-radius: 5%;
  margin: 5px;
  padding: 2px 5px;
  color: #242424;
  font-size: 22px;
}
#clustername-buttons-container > div[isactive='true']{
  background-color: yellow;
}

#background-img{
  background: url('/test-media/birdname_130519_113316.31.png');
  height: 40px;
  width: 50px;
  border: 2px solid red;
}