/* -------------------------- General -------------------------- */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #051923;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: 100%;
}

/* Hide vertical scrollbar for Chrome, Edge, Safari and Opera */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide vertical scrollbar for IE */
body {
  -ms-overflow-style: none;
}

/* Hide vertical scrollbar for Firefox */
html, body {
  overflow-y: scroll;
  scrollbar-width: none;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.overview-time-axis-container{
  margin: 0 0 0 200px;
}

/* -------------------------- Track -------------------------- */

.track-container{
  display: flex;
  margin: 0 0 10px 0;
}

.side-window{
  display: flex;
  width: 200px;
}

.track-controls{
  display: flex;
  flex-direction: column;
  width: 160px;
}

.file-input{

}

.audio-controls{
  display: flex;
}

/* -------------------------- Overview Window -------------------------- */

.overview-canvas{
  position: fixed;
  top: 250px;
  width: auto;
  margin: 0 0 10px 0;
}

#left-scroll-overview-btn{
  position: fixed;
  top: 260px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffffff;
  border-left: transparent;
  /*cursor: pointer;*/
  background: none;
  border-radius: 0;
  padding: 0;
}

#left-scroll-overview-btn:active {
  border-right: 10px solid #ddd8ff;
}

#right-scroll-overview-btn{
  position: fixed;
  top: 260px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
  border-right: transparent;
  /*cursor: pointer;*/
  background: none;
  border-radius: 0;
  padding: 0;
}

#right-scroll-overview-btn:active {
  border-left: 10px solid #ddd8ff;
}

/* -------------------------- Time Axis -------------------------- */

.time-axis-canvas{
  position: fixed;
  top: 300px;
}

/* -------------------------- Global Controls -------------------------- */

.controls-container{
  position: fixed;
  top: 235px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.controls-container > button{
  height: 25px;
  border: none;
  border-radius: 4px;
  margin: 2px;
  background-color: #dddddd;
}

.controls-container > button:hover{
  background-color: whitesmoke;
}

.controls-container > button:active{
  background-color: #b2c0d5;
}

#left-scroll-btn{
  margin: 0 10px 0 0;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 14px solid #dddddd;
  border-left: transparent;
  background: none;
  border-radius: 0;
  cursor: pointer;
}

#left-scroll-btn:hover {
  border-right: 14px solid whitesmoke;
}

#left-scroll-btn:active {
  border-right: 14px solid #b2c0d5;
}

#right-scroll-btn{
  margin: 0 0 0 10px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 14px solid #dddddd;
  border-right: transparent;
  background: none;
  border-radius: 0;
  cursor: pointer;
}

#right-scroll-btn:hover {
  border-left: 14px solid whitesmoke;
}

#right-scroll-btn:active {
  border-left: 14px solid #ddd8ff;
}


/* -------------------------- Clusternames -------------------------- */


/* -------------------------- Colorwheel -------------------------- */
.colorwheel{
  position: fixed;
}

/* -------------------------- Individuals -------------------------- */


/* -------------------------- Parameters -------------------------- */

.local-parameters-config-panel{
  //position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #082536;
  border: 1px solid white;
}

.local-parameters-config-panel > div > label{
  display: flex;
}

.local-parameters-config-panel > div > label > input{
  width: 40px;
}

/* -------------------------- Annotation Labels -------------------------- */

#annotation-labels-container{
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #051923;
}

#annotation-labels-menu{
  max-height: 220px;
  overflow-y: auto;
}

.species{
  background-color: #082536;
  margin: 0 0 7px 0;
}

.individual-btn-container, .clustername-btn-container{
  display: flex;
}

.individual-btn, .clustername-btn{
  display: flex;
  margin: 2px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 3px 2px 4px 0 rgba(0,0,0,0.75);
  cursor: pointer;
}

.individual-btn{
  background-color: #00d0ff;
}

.clustername-btn{
  background-color: #58a411;
}

.clustername-input-field{

}


/* -------------------------- Canvases -------------------------- */

.waveform-canvas{
  display: block;
}

.spec-canvas{
  display: block;
}

.label-canvas{
  display: block;
}

.frequencies-canvas{
  display: block;
  height: 175px;
  margin: 55px 0 0 0;
}

.individuals-canvas{
  display: block;
}



#blank-space{
  position: fixed;
  width: 100%;
  height: 350px;
  background: #051923;
}


#all-tracks{
  padding: 350px 0 0 0;
}




